* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  border: 0;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: Inter, sans-serif;
  font-size: 1.6rem;
  line-height: 1.25;
  color: #2c2c2c;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}
a:hover {
  color: #46b20f;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul,
ol {
  list-style: none;
}

.container {
  --container-width: 1200px;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.btn {
  padding: 13.333px 11.667px;
  background: #46b20f;
  border-radius: 6.667px;
}

.header {
  padding: 15px 0;
  box-shadow: 0px 1.6666666269px 8.3333330154px 0px rgba(0, 0, 0, 0.15);
}
.header .logo {
  height: 95px;
}
.header .logo img {
  max-height: 100%;
  width: auto;
}
.header .header-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header .header-nav .menu {
  z-index: 2;
}
.header .header-nav .menu ul {
  display: flex;
}
.header .header-nav .menu ul li {
  padding: 0 25px;
}
.header .header-nav .menu ul li a {
  font-weight: 600;
  padding-bottom: 54px;
}
.header .header-nav .menu ul li.active a, .header .header-nav .menu ul li:hover a {
  color: #46b20f;
  border-bottom: 1.667px solid #46b20f;
}
.header .header-nav .menu-overlay {
  opacity: 0;
  visibility: hidden;
  transition: 0.4s ease;
  transition-property: opacity, visibility;
}
.header .header-nav .cart-icon {
  padding: 0 25px;
}
.header .header-nav .cart-icon a {
  position: relative;
}
.header .header-nav .cart-icon a span {
  position: absolute;
  top: -6px;
  right: -7px;
  font-size: 1.3rem;
  background: #ff6916;
  padding: 0 5px;
  border-radius: 50%;
  color: #fff;
}
.header .header-nav .search-icon {
  padding-left: 25px;
}

.menu-toggle {
  display: none;
}

@media screen and (max-width: 991.98px) {
  .header .row {
    margin: 0;
  }
  .header .menu-toggle {
    display: block;
  }
  .header .menu-toggle label {
    font-size: 2rem;
  }
  .header .header-nav .menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: #46b20f;
    min-width: 250px;
    padding: 20px 0;
    translate: -100%;
    transition: translate 0.4s ease;
  }
  .header .header-nav .menu ul {
    display: block;
  }
  .header .header-nav .menu ul li a {
    color: #fff !important;
    display: block;
    padding: 10px 0;
  }
  .header .header-nav .search-icon {
    padding-left: 0;
  }
  .header .header-nav input[type=checkbox]:checked ~ .menu {
    translate: 0;
  }
  .header .header-nav input[type=checkbox]:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }
  .header .header-nav .menu-overlay {
    position: fixed;
    inset: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.4745098039);
  }
  .header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
footer {
  margin-top: 106px;
  background: #f2ffec;
  height: 100%;
}
footer .footer {
  position: relative;
  top: 66.67px;
}
footer .footer::after {
  content: "";
  width: 100%;
  border: 1px solid #ccc;
  position: absolute;
  margin-top: 50px;
}
footer .footer .logo {
  position: relative;
  top: -30px;
}
footer .footer .footer-title {
  margin-bottom: 13px;
}
footer .footer .footer-title span {
  font-size: 1.667rem;
  font-weight: 600;
  color: #46b20f;
}
footer .footer .footer-nav {
  padding: 6px 0;
}
footer .footer .icon {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 6px 0;
}
footer .footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 140px;
}
footer .footer-bottom .social {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
footer .footer-bottom .social .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #dcffca;
}
footer .footer-bottom .social .icon img {
  width: 22px;
  height: 22px;
}

@media screen and (max-width: 1199.98px) {
  .footer .row .col-6 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 15px 30px;
  }
  .footer::after {
    display: none;
  }
}
.hero {
  height: 166.667px;
  background: #f2ffec;
}
.hero .title {
  font-size: 4.333rem;
  font-weight: 700;
  line-height: 166.667px;
}

.banner .introduce-content {
  display: flex;
  justify-content: flex-start;
  align-self: center;
}
.banner .introduce-content .introduce h3 {
  font-size: 3.2rem;
  font-weight: 800;
  width: 514px;
}
.banner .introduce-content .introduce h2 {
  font-weight: 800;
  font-size: 4.333rem;
}
.banner .introduce-content .introduce p {
  margin-top: 27.67px;
  width: 450px;
  font-size: 1.6rem;
  font-weight: 400;
}
.banner .banner-inner {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 49.5vw;
  height: 708px;
  background: #dcffca;
}
.banner .banner-inner img {
  width: 717px;
  height: auto;
  position: absolute;
  left: -200px;
}
.banner .banner-inner span {
  width: 719px;
  font-size: 16.6rem;
  font-style: normal;
  font-weight: 800;
  padding-top: 33.33px;
  padding-left: 55px;
  line-height: 100%; /* 166.667px */
  transform: rotate(90deg);
  opacity: 0.15;
}

@media screen and (max-width: 991.98px) {
  .banner .introduce {
    display: none;
  }
  .banner .banner-inner {
    width: 100%;
  }
  .banner .banner-inner img {
    width: 700px;
    left: -40px;
    height: 100%;
  }
}
.banner .container {
  padding: 0;
}

@media screen and (max-width: 991.98px) {
  .banner .banner-inner img {
    display: none;
  }
  .banner .banner-inner span {
    transform: rotate(0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9rem;
    width: 100%;
  }
}
.achievement {
  margin-top: 100px;
}
.achievement .title-achievement {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 115px;
}
.achievement .title-achievement h3 {
  text-align: center;
  font-size: 3.2rem;
  font-weight: 800;
}
.achievement .title-achievement span {
  margin-top: 24.33px;
  font-size: 1.6rem;
  text-align: center;
  font-weight: 400;
}
.achievement .list-achievement {
  align-items: center;
  padding: 0 133px;
  position: relative;
}
.achievement .list-achievement .item {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 294px;
  height: 338px;
  border-radius: 3.333px;
  background: #fff;
  box-shadow: -5.8333330154px 8.3333330154px 72.5px 0px rgba(54, 54, 54, 0.12);
}
.achievement .list-achievement .item .logo {
  width: 83.33px;
  height: 83.33px;
  border-radius: 10px;
  background: #fff0e7;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 33.33px 0 23.33px 33.33px;
}
.achievement .list-achievement .item .logo img {
  width: 45px;
  height: auto;
}
.achievement .list-achievement .item h2 {
  margin: 0 0 23.33px 33.33px;
  font-size: 4.333rem;
  font-weight: 800;
}
.achievement .list-achievement .item span {
  margin: 0 38.33px 0 33.33px;
  font-size: 2rem;
  font-weight: 400;
}
.achievement .list-achievement .circle {
  width: 235px;
  height: 235px;
  position: absolute;
  background: #dcffca;
  border-radius: 50%;
  top: -90px;
  left: 40px;
}
.achievement .list-achievement .circle-pink {
  width: 235px;
  height: 235px;
  position: absolute;
  background: #ffd5bd;
  border-radius: 50%;
  bottom: -90px;
  right: 40px;
}
.achievement .list-achievement .item-active {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 297px;
  height: 393px;
  border-radius: 3.333px;
  background: #fff;
  box-shadow: -5.8333330154px 8.3333330154px 72.5px 0px rgba(54, 54, 54, 0.12);
}
.achievement .list-achievement .item-active .logo {
  width: 83.33px;
  height: 83.33px;
  border-radius: 10px;
  background: #f2ffec;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60.83px 0 23.33px 33.33px;
}
.achievement .list-achievement .item-active .logo img {
  width: 45px;
  height: auto;
}
.achievement .list-achievement .item-active h2 {
  margin: 0 0 23.33px 33.33px;
  font-size: 4.333rem;
  font-weight: 800;
}
.achievement .list-achievement .item-active span {
  font-size: 2rem;
  font-weight: 400;
  margin: 0 35px 0 33.33px;
}

@media screen and (max-width: 991.98px) {
  .achievement .list-achievement {
    padding: 0 13px;
  }
}
@media screen and (max-width: 965px) {
  .achievement .list-achievement {
    display: none;
  }
}
.products {
  margin-top: 214px;
}
.products .title-product {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.1667rem;
  font-weight: 800;
  color: #2c2c2c;
}
.products .list-products {
  margin-top: 50px;
  padding: 0 133px;
}
.products .list-products .row-1:nth-child(2) .item-product {
  background: #c5ffa8;
}
.products .list-products .row-2 {
  margin-top: 300px;
}
.products .list-products .row-2 .row-2-active {
  background: #c5ffa8;
}
.products .list-products .item-product {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 269.316px;
  height: 269.316px;
  border-radius: 269.316px;
  background: #ffba94;
  position: relative;
}
.products .list-products .item-product .image-product {
  width: 240.117px;
  height: 241.148px;
  top: 90px;
  position: absolute;
}
.products .list-products .detail-product {
  position: absolute;
  bottom: -180px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.products .list-products .detail-product span {
  text-align: center;
  margin-bottom: 29px;
}
.products .list-products .detail-product span p {
  font-weight: 700;
  font-size: 2.5rem;
}
.products .list-products .detail-product p {
  font-weight: 400;
  font-size: 1.667rem;
}
.products .list-products .detail-product p .price {
  font-size: 2.333rem;
  font-weight: 600;
}
.products .list-products .btn {
  position: absolute;
  bottom: -250px;
}
.products .list-products .btn a {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
}

@media screen and (max-width: 991.98px) {
  .products .list-products {
    display: flex;
    justify-content: center;
    column-gap: 50px;
  }
}
@media screen and (max-width: 1199.98px) {
  .banner .banner-inner {
    width: auto;
  }
  .banner .banner-inner span {
    height: 589px;
  }
  .products .list-products .row-1,
  .products .list-products .row-2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .products .list-products .row-1:nth-child(3) {
    margin-top: 300px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .achievement .list-achievement {
    padding: 0 20px;
  }
}
@media screen and (max-width: 905px) {
  .products .list-products {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .products .list-products .row-1:nth-child(2) {
    margin-top: 300px;
  }
}
@media screen and (max-width: 500px) {
  .products .list-products {
    flex-direction: inherit;
  }
}
.news {
  margin-top: 300px;
}
.news .title-news {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0 271px;
  gap: 23px;
  text-align: center;
}
.news .title-news h3 {
  margin-top: 128px;
  font-size: 3.1667rem;
  font-weight: 800;
  color: #2c2c2c;
}
.news .title-news .slogan {
  margin-bottom: 28.82px;
  font-size: 1.6rem;
  font-weight: 400;
  color: #2c2c2c;
}
.news .list-news .item-new .new-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16.27px;
  margin-bottom: 18.67px;
}
.news .list-news .item-new .new-time .person {
  font-size: 1.5rem;
  font-weight: 500;
  color: #46b20f;
}
.news .list-news .item-new .new-time .time {
  display: flex;
  align-items: center;
}
.news .list-news .headline {
  display: flex;
  flex-direction: column;
  gap: 16.27px;
}
.news .list-news .headline h4 {
  font-size: 2rem;
  font-weight: 600;
}
.news .list-news .headline .content {
  font-size: 1.6rem;
  font-weight: 400;
}
.news .btn-news {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 79px;
}
.news .btn-news .btn-new {
  display: flex;
  padding: 11.667px 21.667px;
  justify-content: center;
  align-items: center;
  gap: 3.333px;
  border-radius: 6.667px;
  border: 0.833px solid #46b20f;
}

@media screen and (max-width: 1199.98px) {
  .news .title-news {
    padding: 0 150px;
  }
  .news .list-news .new {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  .news .list-news .new .item-new {
    width: 390px;
  }
}
.chopsticks {
  margin-top: 100px;
}
.chopsticks .title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.chopsticks .title h3 {
  width: 420px;
  font-size: 3.1667rem;
  font-weight: 800;
}
.chopsticks .title span {
  margin-top: 24.33px;
}
.chopsticks .title span p {
  font-size: 1.6rem;
  font-weight: 400;
  color: #2c2c2c;
}
.chopsticks .Wrap {
  margin-top: 200px;
  background: #fff0e7;
}
.chopsticks .Wrap .list-product-chopstick {
  position: relative;
  display: flex;
  padding: 0 58.33px;
  top: -100px;
}
.chopsticks .Wrap .list-product-chopstick .item-chopstick {
  background: #fff;
}
.chopsticks .Wrap .list-product-chopstick .item-chopstick .content {
  margin-top: 24.17px;
  padding-left: 24.5px;
  padding-bottom: 65px;
}
.chopsticks .Wrap .list-product-chopstick .item-chopstick .content h4 {
  font-size: 2rem;
  font-weight: 600;
  color: #e05000;
}
.chopsticks .Wrap .list-product-chopstick .item-chopstick .content span {
  font-size: 1.6rem;
  font-weight: 400;
}

@media screen and (max-width: 1199.98px) {
  .chopsticks .Wrap .list-product-chopstick .item-chopstick .img img {
    width: 100%;
  }
  .chopsticks .Wrap .list-product-chopstick .delete {
    display: none;
  }
}
.appellation {
  margin-top: 113.31px;
}
.appellation .list-appellation {
  padding: 0 112.5px;
}
.appellation .list-appellation .item-appellation {
  display: flex;
  gap: 15.833px;
  padding-bottom: 38.83px;
}
.appellation .list-appellation .item-appellation .logo img {
  width: 56px;
  max-width: none;
  height: 56px;
}
.appellation .list-appellation .item-appellation .content {
  display: flex;
  flex-direction: column;
}
.appellation .list-appellation .item-appellation .content .name {
  font-size: 2rem;
  font-weight: 600;
}
.appellation .list-appellation .item-appellation .content span {
  font-size: 1.7rem;
  font-weight: 500;
}

@media screen and (max-width: 1199.98px) {
  .appellation .list-appellation .item-appellation {
    display: flex;
    justify-content: center;
  }
  .appellation .list-appellation .item-appellation .content {
    width: 216.667px;
  }
}
@media screen and (max-width: 800px) {
  .appellation .list-appellation {
    padding: 0 20px;
  }
}
.contact {
  margin-top: 130px;
}
.contact .logo-contact {
  width: 439.167px;
  height: 439.167px;
  background: #fff0e7;
  border-radius: 50%;
  position: relative;
}
.contact .logo-contact img {
  position: absolute;
  top: -44px;
  left: -30px;
}
.contact .form-contact .contact-title {
  margin-bottom: 26px;
}
.contact .form-contact form .name {
  width: 100%;
  border: 1px solid #ccc;
  padding: 20px 10px;
  margin: 0 10px;
  margin-bottom: 23px;
  border-radius: 7px;
}
.contact .form-contact form .form-input {
  margin-bottom: 23px;
  display: flex;
  gap: 16px;
}
.contact .form-contact form .form-input div {
  width: 287px;
  border: 1px solid #ccc;
  border-radius: 7px;
}
.contact .form-contact form .form-input div input {
  padding: 20px 10px;
  border-radius: 7px;
}
.contact .form-contact form textarea {
  border: 1px solid #ccc;
  width: 100%;
  border-radius: 7px;
  padding: 20px 10px;
}
.contact .form-contact form .form-btn {
  margin-top: 26px;
  display: flex;
  justify-content: flex-end;
}
.contact .form-contact form .form-btn button {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  padding: 13.333px 60.667px;
}

@media screen and (max-width: 1199.98px) {
  .contact .logo-left {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
  }
  .contact .form-contact form .form-input div {
    width: 100%;
  }
}
.introduce-greenchop .container-greenchop {
  padding: 0 113px;
}
.introduce-greenchop .container-greenchop h2 {
  margin-top: 214px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}
.introduce-greenchop .row-2,
.introduce-greenchop .row-3 {
  margin-top: 92.5px;
}
.introduce-greenchop .content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.introduce-greenchop .content span {
  width: 376.667px;
}

@media screen and (max-width: 1199.98px) {
  .introduce-greenchop .container-greenchop .row-1,
  .introduce-greenchop .container-greenchop .row-2,
  .introduce-greenchop .container-greenchop .row-3 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media screen and (max-width: 964px) {
  .introduce-greenchop .container-greenchop h2 {
    margin-top: 0;
  }
}
.product-greenchop {
  margin-top: 174px;
  background-image: url("../images/icons/product_green.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  padding-bottom: 100px;
  filter: brightness(0.8);
}
.product-greenchop .product {
  color: #fff;
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.product-greenchop .product .content {
  text-align: center;
  margin-top: 50px;
  width: 62%;
}

@media screen and (max-width: 1199.98px) {
  .product-greenchop .product {
    margin-top: 300px;
    color: #2c2c2c;
  }
}
.mission {
  margin-top: 150px;
}
.mission .box {
  width: 400px;
  height: 400px;
  border-radius: 400px;
  background: #dcffca;
  position: relative;
}
.mission .box img {
  position: absolute;
  left: 150px;
  top: -70px;
  z-index: 1;
}
.mission .box .box-orange {
  position: absolute;
  width: 220px;
  height: 220px;
  border-radius: 220px;
  background: #ffd5bd;
  bottom: 0;
  right: -65px;
}
.mission .mission-text h2 {
  font-size: 3.1667rem;
  font-weight: 800;
}
.mission .mission-text p {
  width: 65%;
  padding-top: 26px;
  font-size: 1.333rem;
  font-weight: 400;
}

@media screen and (max-width: 1199.98px) {
  .mission {
    margin-top: 50px;
  }
  .mission .box-left {
    display: flex;
    justify-content: center;
  }
  .mission .box-left .box img {
    left: 0;
  }
  .mission .mission-text {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .mission .mission-text h2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mission .mission-text p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.pages-products {
  margin-top: 100px;
}
.pages-products .title-product {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.1667rem;
  font-weight: 800;
  color: #2c2c2c;
}
.pages-products .list-products {
  margin-top: 50px;
  padding: 0 133px;
}
.pages-products .list-products .row-1:nth-child(2) .item-product {
  background: #c5ffa8;
}
.pages-products .list-products .row-2 {
  margin-top: 300px;
}
.pages-products .list-products .row-2 .row-2-active {
  background: #c5ffa8;
}
.pages-products .list-products .item-product {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 269.316px;
  height: 269.316px;
  border-radius: 269.316px;
  background: #ffba94;
  position: relative;
}
.pages-products .list-products .item-product .image-product {
  width: 240.117px;
  height: 241.148px;
  top: 90px;
  position: absolute;
}
.pages-products .list-products .detail-product {
  position: absolute;
  bottom: -180px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.pages-products .list-products .detail-product span {
  text-align: center;
  margin-bottom: 29px;
}
.pages-products .list-products .detail-product span p {
  font-weight: 700;
  font-size: 2.5rem;
}
.pages-products .list-products .detail-product p {
  font-weight: 400;
  font-size: 1.667rem;
}
.pages-products .list-products .detail-product p .price {
  font-size: 2.333rem;
  font-weight: 600;
}
.pages-products .list-products .btn {
  position: absolute;
  bottom: -250px;
}
.pages-products .list-products .btn a {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
}

@media screen and (max-width: 991.98px) {
  .pages-products .list-products {
    display: flex;
    justify-content: center;
    column-gap: 50px;
  }
}
@media screen and (max-width: 1199.98px) {
  .pages-products .list-products .row-1,
  .pages-products .list-products .row-2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pages-products .list-products .row-1:nth-child(3) {
    margin-top: 300px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .achievement .list-achievement {
    padding: 0 20px;
  }
}
@media screen and (max-width: 905px) {
  .pages-products .list-products {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .pages-products .list-products .row-1:nth-child(2) {
    margin-top: 300px;
  }
}
@media screen and (max-width: 500px) {
  .pages-products .list-products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: inherit;
  }
}
.detail-chopsticks {
  margin-top: 400px;
}
.detail-chopsticks .chopstick-left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.detail-chopsticks .chopstick-left .content-chopsticks {
  position: relative;
  margin-left: 26px;
}
.detail-chopsticks .chopstick-left .content-chopsticks img {
  top: -40px;
  left: -50px;
  z-index: -1;
  position: absolute;
}
.detail-chopsticks .chopstick-left .content-chopsticks .content h2 {
  font-size: 3.1667rem;
  font-weight: 800;
}
.detail-chopsticks .chopstick-left .content-chopsticks .content p {
  padding-top: 15px;
  font-size: 1.3333rem;
  font-weight: 400;
  width: 63%;
}
.detail-chopsticks .chopstick-right {
  position: relative;
}
.detail-chopsticks .chopstick-right img {
  position: absolute;
  right: 0;
  top: -60px;
  width: 406.667px;
  height: 397.5px;
}
.detail-chopsticks .chopstick-right .chopstick {
  width: 390.833px;
  height: 281.667px;
  border-radius: 6.667px;
  position: absolute;
  background: #fff;
}
.detail-chopsticks .chopstick-right .chopstick img {
  width: 315px;
  height: 140.833px;
  top: 70px;
  left: 50px;
}

@media screen and (max-width: 1199.98px) {
  .detail-chopsticks .chopstick-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .detail-chopsticks .chopstick-left .content-chopsticks {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .detail-chopsticks .chopstick-left .content-chopsticks img {
    display: none;
  }
  .detail-chopsticks .chopstick-left .content-chopsticks .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .detail-chopsticks .chopstick-right {
    display: none;
  }
}
@media screen and (max-width: 991.98px) {
  .detail-chopsticks .chopstick-left .content-chopsticks .content p {
    width: 80%;
  }
}
.product-chopsticks {
  margin-top: 258px;
}
.product-chopsticks .title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.product-chopsticks .title h3 {
  width: 420px;
  font-size: 3.1667rem;
  font-weight: 800;
}
.product-chopsticks .title span {
  margin-top: 24.33px;
}
.product-chopsticks .title span p {
  font-size: 1.6rem;
  font-weight: 400;
  color: #2c2c2c;
}
.product-chopsticks .Wrap {
  margin-top: 200px;
  background: #fff0e7;
}
.product-chopsticks .Wrap .list-product-chopstick {
  position: relative;
  display: flex;
  padding: 0 58.33px;
  top: -100px;
}
.product-chopsticks .Wrap .list-product-chopstick .item-chopstick {
  background: #fff;
}
.product-chopsticks .Wrap .list-product-chopstick .item-chopstick .content {
  margin-top: 24.17px;
  padding-left: 24.5px;
  padding-bottom: 65px;
}
.product-chopsticks .Wrap .list-product-chopstick .item-chopstick .content h4 {
  font-size: 2rem;
  font-weight: 600;
  color: #e05000;
}
.product-chopsticks .Wrap .list-product-chopstick .item-chopstick .content span {
  font-size: 1.6rem;
  font-weight: 400;
}

@media screen and (max-width: 1199.98px) {
  .product-chopsticks {
    margin-top: 60px;
  }
  .product-chopsticks .Wrap .list-product-chopstick .item-chopstick .img img {
    width: 100%;
  }
  .product-chopsticks .Wrap .list-product-chopstick .delete {
    display: none;
  }
}
.guide {
  margin-top: 100px;
}
.guide .container-guide {
  margin-bottom: 300px;
  padding: 0 22.5px;
}
.guide .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.guide .content h2 {
  margin-bottom: 24px;
  font-size: 3.1667rem;
  font-size: 800;
}
.guide .content p {
  font-size: 1.333rem;
  font-weight: 400;
  margin-bottom: 50px;
}
.guide .guide-stt {
  position: relative;
}
.guide .guide-stt span {
  font-size: 8.3333rem;
  font-weight: 800;
  color: #ccc;
  position: absolute;
  z-index: 1;
  left: 5px;
  top: 10px;
}
.guide .guide-stt .box-circle {
  position: absolute;
  left: 40px;
  width: 123.333px;
  height: 123.333px;
  border-radius: 123.333px;
  background: #fff0e7;
}
.guide .guide-stt p {
  position: absolute;
  width: 68%;
  left: 110px;
  top: 30px;
}
.guide .stt2 .guide-stt {
  position: relative;
}
.guide .stt2 .guide-stt p {
  position: absolute;
  width: 60%;
  left: 125px;
  top: 30px;
}
.guide .stt3 .guide-stt {
  position: relative;
}
.guide .stt3 .guide-stt p {
  position: absolute;
  width: 60%;
  left: 125px;
  top: 30px;
}
.guide .stt4 .guide-stt {
  position: relative;
}
.guide .stt4 .guide-stt p {
  position: absolute;
  width: 60%;
  left: 125px;
  top: 30px;
}
.guide .manipulate .content {
  width: 78%;
  margin-left: 112px;
  position: relative;
}
.guide .manipulate .content p {
  padding-top: 90px;
  text-align: start;
  padding-left: 62.5px;
  font-size: 2rem;
  font-weight: 400;
  color: #2c2c2c;
}
.guide .manipulate .content::after {
  content: "";
  width: 8px;
  height: 350px;
  left: 0;
  top: -50px;
  position: absolute;
  background: #46b20f;
}
.guide .manipulate .logo {
  width: 34vw;
}

@media screen and (max-width: 1199.98px) {
  .guide {
    margin-bottom: 150px;
  }
  .guide .container-guide {
    margin-bottom: 150px;
  }
  .guide .stt3,
  .guide .stt4 {
    margin-top: 150px;
  }
  .guide .manipulate .content {
    margin: 0 auto;
  }
  .guide .manipulate .content p {
    text-align: center;
    padding-left: 0;
  }
  .guide .manipulate .content::after {
    display: none;
  }
  .guide .manipulate .logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 575.98px) {
  .guide .stt1 .guide-stt span,
  .guide .stt2 .guide-stt span,
  .guide .stt3 .guide-stt span,
  .guide .stt4 .guide-stt span {
    left: 50px;
    top: -35px;
  }
  .guide .stt1 .guide-stt p,
  .guide .stt2 .guide-stt p,
  .guide .stt3 .guide-stt p,
  .guide .stt4 .guide-stt p {
    left: 45px;
    top: 65px;
  }
  .guide .stt1,
  .guide .stt2 {
    margin-bottom: 110px;
  }
}
.principle {
  margin-top: 133px;
}
.principle h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
  font-size: 3.1667rem;
  font-weight: 800;
}
.principle .principle-container {
  background: #f2ffec;
  height: 356px;
}
.principle .principle-container .logo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.principle .principle-container .logo img {
  position: absolute;
  top: 70px;
}
.principle .principle-container .box-orange {
  width: 49vw;
  height: 356px;
  background: #f2ffec;
}
.principle .principle-container .box-orange .content {
  width: 530px;
  padding-top: 66px;
  padding-left: 30px;
}
.principle .principle-container2 {
  margin-top: 180px;
  height: 358px;
  background: #fff0e7;
}
.principle .principle-container2 .content-left {
  position: relative;
}
.principle .principle-container2 .content-left .box-orange {
  position: absolute;
  height: 358px;
  left: -139px;
  background: #fff0e7;
}
.principle .principle-container2 .content-left .box-orange .content {
  padding-left: 212px;
  padding-top: 66px;
}
.principle .principle-container2 .logo {
  position: relative;
}
.principle .principle-container2 .logo img {
  position: absolute;
  top: 66px;
  left: 55px;
}

@media screen and (max-width: 1199.98px) {
  .principle .principle-container {
    height: 407px;
  }
  .principle .principle-container .logo {
    justify-content: center;
  }
  .principle .principle-container .logo img {
    position: inherit;
    top: 0;
  }
  .principle .principle-container .content-right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .principle .principle-container .content-right .box-orange {
    background: #fff;
    width: 70vw;
  }
  .principle .principle-container .content-right .box-orange .content {
    padding-top: 25px;
    text-align: center;
    padding-left: 0;
    width: 100%;
  }
  .principle .principle-container2 {
    display: none;
  }
}
.appellation-product {
  margin-top: 200px;
}
.appellation-product .list-appellation {
  padding: 0 112.5px;
}
.appellation-product .list-appellation .item-appellation {
  display: flex;
  gap: 15.833px;
  padding-bottom: 38.83px;
}
.appellation-product .list-appellation .item-appellation .logo img {
  width: 56px;
  max-width: none;
  height: 56px;
}
.appellation-product .list-appellation .item-appellation .content {
  display: flex;
  flex-direction: column;
}
.appellation-product .list-appellation .item-appellation .content .name {
  font-size: 2rem;
  font-weight: 600;
}
.appellation-product .list-appellation .item-appellation .content span {
  font-size: 1.7rem;
  font-weight: 500;
}

@media screen and (max-width: 1199.98px) {
  .appellation-product .list-appellation .item-appellation {
    display: flex;
    justify-content: center;
  }
  .appellation-product .list-appellation .item-appellation .content {
    width: 216.667px;
  }
}
@media screen and (max-width: 800px) {
  .appellation-product .list-appellation {
    padding: 0 20px;
  }
}
@media screen and (max-width: 770px) {
  .appellation-product {
    margin-top: 270px;
  }
}
.Hot-news {
  margin-top: 133px;
  margin-bottom: 300px;
}
.Hot-news .New1 .img-new {
  display: flex;
  justify-content: flex-end;
}
.Hot-news .New1 .title {
  padding-top: 27px;
  padding-left: 90px;
}
.Hot-news .New1 .title span {
  font-size: 1.5rem;
  font-weight: 500;
  color: #46b20f;
}
.Hot-news .New1 .title h2 {
  padding-top: 10px;
  font-size: 2.333rem;
  font-weight: 700;
  color: #2c2c2c;
}
.Hot-news .New1 .title p {
  padding-top: 27px;
  font-size: 1.3333rem;
  font-weight: 400;
  color: #2c2c2c;
  width: 85%;
}
.Hot-news .New1 .title .btn-news {
  padding-top: 50px;
}
.Hot-news .New1 .title .btn-news .btn-new {
  display: flex;
  padding: 11.667px 21.667px;
  justify-content: center;
  align-items: center;
  gap: 3.333px;
  border-radius: 6.667px;
  border: 0.833px solid #46b20f;
}
.Hot-news .New2 .title {
  padding-top: 73px;
  padding-left: 123px;
}
.Hot-news .New2 .title span {
  font-size: 1.5rem;
  font-weight: 500;
  color: #46b20f;
}
.Hot-news .New2 .title h2 {
  padding-top: 10px;
  font-size: 2.333rem;
  font-weight: 700;
  color: #2c2c2c;
}
.Hot-news .New2 .title p {
  padding-top: 27px;
  font-size: 1.3333rem;
  font-weight: 400;
  color: #2c2c2c;
  width: 85%;
}
.Hot-news .New2 .title .btn-news {
  padding-top: 50px;
}
.Hot-news .New2 .title .btn-news .btn-new {
  display: flex;
  padding: 11.667px 21.667px;
  justify-content: center;
  align-items: center;
  gap: 3.333px;
  border-radius: 6.667px;
  border: 0.833px solid #46b20f;
}
.Hot-news .New2 .img-new {
  position: relative;
}
.Hot-news .New2 .img-new img {
  padding-left: 55px;
  position: absolute;
  top: -100px;
  width: 460px;
  height: 540px;
}

@media screen and (max-width: 991.98px) {
  .Hot-news {
    margin-bottom: 0;
  }
  .Hot-news .New1 .img-new {
    justify-content: center;
  }
  .Hot-news .New1 .title {
    text-align: center;
    padding-left: 90px;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .Hot-news .New2 {
    display: none;
  }
}
.article h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}
.article .list-news {
  padding: 0 113px;
}
.article .list-news .item-new .img-new img {
  width: 100%;
  height: 337px;
}
.article .list-news .item-new .new-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16.27px;
  margin-bottom: 18.67px;
}
.article .list-news .item-new .new-time .person {
  font-size: 1.5rem;
  font-weight: 500;
  color: #46b20f;
}
.article .list-news .item-new .new-time .time {
  display: flex;
  align-items: center;
  padding: 0 15px;
}
.article .list-news .headline {
  display: flex;
  flex-direction: column;
  gap: 16.27px;
}
.article .list-news .headline h4 {
  font-size: 2rem;
  font-weight: 600;
}
.article .list-news .headline .content {
  font-size: 1.6rem;
  font-weight: 400;
}
.article .list-news .new-2 {
  margin: 50px 0;
}
.article .Pagination {
  margin-top: 166px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.article .Pagination span {
  font-size: 16.667px;
  font-style: normal;
  font-weight: 400;
  padding: 10px;
}
.article .Pagination span:nth-child(1) {
  color: #46b20f;
}

@media screen and (max-width: 991.98px) {
  .article .list-news .new .item-new {
    padding-bottom: 50px;
  }
  .article .list-news .new .item-new .img-new img {
    width: 100%;
  }
}
.pages-contact {
  margin-top: 134px;
}
.pages-contact .contact-container {
  padding: 0 113px;
}
.pages-contact .contact-container .contact-text h2 {
  font-size: 3.1667rem;
  font-weight: 800;
  color: #2c2c2c;
  padding-bottom: 15px;
}
.pages-contact .contact-container .contact-text .Time-frame {
  padding-bottom: 27px;
  font-size: 1.667rem;
  font-weight: 600;
  color: #2c2c2c;
}
.pages-contact .contact-container .contact-text .icon {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-bottom: 10px;
}
.pages-contact .contact-container .form-contact .contact-title {
  margin-bottom: 26px;
}
.pages-contact .contact-container .form-contact form .name {
  width: 100%;
  border: 1px solid #ccc;
  padding: 20px 10px;
  margin: 0 10px;
  margin-bottom: 23px;
  border-radius: 7px;
}
.pages-contact .contact-container .form-contact form .form-input {
  margin-bottom: 23px;
  display: flex;
  gap: 16px;
}
.pages-contact .contact-container .form-contact form .form-input div {
  width: 287px;
  border: 1px solid #ccc;
  border-radius: 7px;
}
.pages-contact .contact-container .form-contact form .form-input div input {
  padding: 20px 10px;
  border-radius: 7px;
}
.pages-contact .contact-container .form-contact form textarea {
  border: 1px solid #ccc;
  width: 100%;
  border-radius: 7px;
  padding: 20px 10px;
}
.pages-contact .contact-container .form-contact form .form-btn {
  margin-top: 26px;
  display: flex;
  justify-content: flex-end;
}
.pages-contact .contact-container .form-contact form .form-btn button {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  padding: 13.333px 60.667px;
}

@media screen and (max-width: 991.98px) {
  .pages-contact .contact-text {
    display: none;
  }
  .pages-contact .form-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
  }
  .pages-contact .form-contact .contact-title {
    text-align: center;
  }
}
@media screen and (max-width: 610px) {
  .pages-contact .contact-container .contact-title {
    text-align: center;
  }
  .pages-contact .contact-container .form-contact form .form-input div {
    width: 100%;
  }
}
.hero-describe {
  height: 83.3333px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2ffec;
}
.hero-describe .title-describe {
  font-size: 1.6667rem;
  font-weight: 400;
  color: #2c2c2c;
}
.hero-describe .title-describe span {
  color: #46b20f;
}

.describe-products {
  margin-top: 100px;
}
.describe-products .product {
  padding-left: 113px;
}
.describe-products .product .img-product {
  margin-bottom: 22px;
  width: 479.167px;
  height: 301.667px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff0e7;
}
.describe-products .product .img-product img {
  width: 240.117px;
  height: 241.148px;
}
.describe-products .product .list-item .item-product {
  width: 133.566px;
  height: 116px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff0e7;
}
.describe-products .product .list-item .item-product img {
  width: 90px;
  height: 90px;
}
.describe-products .content-product {
  padding-left: 50px;
}
.describe-products .content-product h2 {
  font-size: 3.1667rem;
  font-weight: 800;
  color: #2c2c2c;
  padding-bottom: 53px;
}
.describe-products .content-product p {
  font-size: 1.667rem;
  font-weight: 400;
  color: #2c2c2c;
  padding-bottom: 10px;
}
.describe-products .content-product p span {
  font-size: 2.333rem;
  font-weight: 600;
  color: #2c2c2c;
}
.describe-products .content-product .text {
  font-size: 1.667rem;
  font-weight: 400;
  color: #7a7a7a;
  padding-bottom: 26px;
  display: block;
}
.describe-products .content-product p {
  width: 80%;
  padding-bottom: 26px;
}
.describe-products .content-product .amount {
  display: flex;
  align-items: center;
  gap: 30px;
}
.describe-products .content-product .amount .increase {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 103px;
  height: 44px;
  border: 1px solid #7a7a7a;
  border-radius: 3.333px;
}
.describe-products .content-product .amount .increase span {
  padding: 0 10px;
}
.describe-products .content-product .amount .btn-mua {
  width: 128px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #46b20f;
  border-radius: 6.667px;
}
.describe-products .content-product .amount .btn-mua a {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}
.describe-products .content-product .text-production {
  margin-top: 26px;
  display: flex;
  flex-direction: column;
}
.describe-products .content-product .text-production p {
  font-size: 1.333rem;
  font-weight: 400;
  color: #2c2c2c;
}
.describe-products .content-product .text-production p span {
  font-size: 1.333rem;
  font-weight: 600;
  color: #2c2c2c;
}

@media screen and (max-width: 1199.98px) {
  .describe-products .product {
    padding-left: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
    border-radius: 10px;
  }
  .describe-products .product .img-product {
    border-radius: 10px;
  }
  .describe-products .product .list-item {
    display: flex;
    flex-direction: column;
  }
  .describe-products .product .list-item .item-product {
    height: auto;
    border-radius: 10px;
  }
  .describe-products .content-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .describe-products .content-product p {
    width: 50%;
  }
  .describe-products .content-product .text-production {
    flex-direction: row;
  }
}
@media screen and (max-width: 800px) {
  .describe-products .content-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .describe-products .content-product p {
    width: 80%;
  }
}
.information {
  margin-top: 136px;
}
.information .title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 34px;
  border-bottom: 1.667px solid #a3a3a3;
  margin: 0 312px;
}
.information .title h3 {
  font-size: 2rem;
  font-weight: 600;
  color: #000;
}
.information .title .active a, .information .title .header .header-nav .menu ul li:hover a, .header .header-nav .menu ul .information .title li:hover a {
  border-bottom: 1.667px solid #46b20f;
}
.information .info {
  margin-top: 56px;
  padding: 0 288px;
}
.information .info .info-describe {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.information .info .info-describe .stt {
  font-size: 3.1667rem;
  font-weight: 800;
  color: #ff6916;
  padding-bottom: 10px;
}
.information .info .info-describe .content {
  height: 50px;
  text-align: center;
}
.information .info .info-describe .content span {
  font-size: 1.667rem;
  font-weight: 600;
  color: #2c2c2c;
}
.information .info .info-describe .content p {
  font-size: 1.333rem;
  font-weight: 400;
}

@media screen and (max-width: 1099.98px) {
  .information .info {
    padding: 0 150px;
  }
}
@media screen and (max-width: 849.98px) {
  .information .title {
    margin: 0;
  }
  .information .info {
    padding: 0;
  }
}
.products-describe {
  margin-top: 214px;
  margin-bottom: 367px;
}
.products-describe .title-product {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.1667rem;
  font-weight: 800;
  color: #2c2c2c;
}
.products-describe .list-products {
  margin-top: 50px;
  padding: 0 133px;
}
.products-describe .list-products .row-1:nth-child(2) .item-product {
  background: #c5ffa8;
}
.products-describe .list-products .item-product {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 269.316px;
  height: 269.316px;
  border-radius: 269.316px;
  background: #ffba94;
  position: relative;
}
.products-describe .list-products .item-product .image-product {
  width: 240.117px;
  height: 241.148px;
  top: 90px;
  position: absolute;
}
.products-describe .list-products .detail-product {
  position: absolute;
  bottom: -180px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.products-describe .list-products .detail-product span {
  text-align: center;
  margin-bottom: 29px;
}
.products-describe .list-products .detail-product span p {
  font-weight: 700;
  font-size: 2.5rem;
}
.products-describe .list-products .detail-product p {
  font-weight: 400;
  font-size: 1.667rem;
}
.products-describe .list-products .detail-product p .price {
  font-size: 2.333rem;
  font-weight: 600;
}
.products-describe .list-products .btn {
  position: absolute;
  bottom: -250px;
}
.products-describe .list-products .btn a {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
}

@media screen and (max-width: 991.98px) {
  .products-describe .list-products {
    display: flex;
    justify-content: center;
    column-gap: 50px;
  }
}
@media screen and (max-width: 1199.98px) {
  .banner .banner-inner {
    width: auto;
  }
  .banner .banner-inner span {
    height: 589px;
  }
  .products-describe .list-products .row-1,
  .products-describe .list-products .row-2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .products-describe .list-products .row-1:nth-child(3) {
    margin-top: 300px;
    display: none;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .achievement .list-achievement {
    padding: 0 20px;
  }
}
@media screen and (max-width: 905px) {
  .products-describe .list-products {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .products-describe .list-products .row-1:nth-child(2) {
    margin-top: 300px;
  }
}
@media screen and (max-width: 500px) {
  .products-describe .list-products {
    flex-direction: inherit;
  }
}

/*# sourceMappingURL=style.css.map */
