.article {
  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
  }
  .list-news {
    padding: 0 113px;
    .item-new {
      .img-new {
        img {
          width: 100%;
          height: 337px;
        }
      }
      .new-time {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 16.27px;
        margin-bottom: 18.67px;
        .person {
          font-size: 1.5rem;
          font-weight: 500;
          color: $green-800;
        }
        .time {
          display: flex;
          align-items: center;
          padding: 0 15px;
        }
      }
    }
    .headline {
      display: flex;
      flex-direction: column;
      gap: 16.27px;
      h4 {
        font-size: 2rem;
        font-weight: 600;
      }
      .content {
        font-size: 1.6rem;
        font-weight: 400;
      }
    }
    .new-2 {
      margin: 50px 0;
    }
  }
  .Pagination {
    margin-top: 166px;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      font-size: 16.667px;
      font-style: normal;
      font-weight: 400;
      padding: 10px;
      &:nth-child(1) {
        color: $green-800;
      }
    }
  }
}

@media screen and (max-width: 991.98px) {
  .article {
    .list-news {
      .new {
        .item-new {
          padding-bottom: 50px;
          .img-new {
            img {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
