.container {
  --container-width: 1200px;
}
.justify-content-start {
  justify-content: flex-start;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-end {
  justify-content: flex-end;
}

.align-items-start {
  align-items: flex-start;
}
.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

@media screen and (max-width: 1199.98px) {
  .container {
    padding: 0 15px;
  }
}

.btn {
  padding: 13.333px 11.667px;
  background: $green-800;
  border-radius: 6.667px;
}
