$primaryColor: #46b20f;
$secondaryColor: #ff6916;
$textColor: #2c2c2c;
$fonts: Inter, sans-serif;
$fontSize: 1.6rem;
$linkColor: #2c2c2c;
$green-200: #dcffca;
$while: #fff;
$orange-200: #ffd5bd;
$orange-100: #fff0e7;
$green-100: #f2ffec;
$orange-300: #ffba94;
$green-800: #46b20f;
$content: #2c2c2c;
$green-300: #c5ffa8;
$orange-700: #e05000;
$grey-500: #a3a3a3;
