.banner {
  .introduce {
    margin-top: 218px;
    h3 {
      font-size: 3.2rem;
      font-weight: 800;
      width: 514px;
    }
    h2 {
      font-weight: 800;
      font-size: 4.333rem;
    }
    p {
      margin-top: 27.67px;
      width: 450px;
      font-size: 1.6rem;
      font-weight: 400;
    }
  }
  .banner-inner {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 749.55px;
    height: 708px;
    background: $green-200;
    img {
      width: 717px;
      height: auto;
      position: absolute;
      left: -200px;
    }
    span {
      width: 719px;
      font-size: 16.6rem;
      font-style: normal;
      font-weight: 800;
      padding-top: 33.33px;
      padding-left: 55px;
      line-height: 100%; /* 166.667px */
      transform: rotate(90deg);
      opacity: 0.15;
    }
  }
}

@media screen and (max-width: 991.98px) {
  .banner {
    .introduce {
      display: none;
    }
    .banner-inner {
      width: 100%;
      img {
        width: 700px;
        left: -40px;
        height: 100%;
      }
    }
  }
}

.banner {
  .container {
    padding: 0;
  }
}
